In [1]:
import pandas as pd

In [8]:
nih_check=pd.read_csv("data/nih_check.csv",sep=',')

In [6]:
catalog=pd.read_csv("data/gwas_catalog_v1.0.2-associations_e100_r2020-09-09_grch37_munged.tsv",sep='\t')

In [13]:
nih_check

,PUBMEDID,STUDY,DISEASE/TRAIT,MAPPED_TRAIT,INITIAL SAMPLE SIZE,REPLICATION SAMPLE SIZE,Variant,POS,P-VALUE
0,31879980,Ordered multinomial regression for genetic ass...,Hypertension,hypertension,"30,822 British ancestry normal blood pressure ...",NaN,NaN,31266117,3.000000e-12
1,29083406,"Shared genetic origin of asthma, hay fever and...","Allergic disease (asthma, hay fever or eczema)",allergy,"180,129 European ancestry cases, 180,709 Europ...",NaN,NaN,32626403,4.000000e-52
2,28334899,Association analyses of East Asian individuals...,Total cholesterol levels,total cholesterol measurement,"32,576 East Asian ancestry individuals, 187,36...","10,855 Chinese ancestry individuals",NaN,32412435,5.000000e-22
3,32499647,"Identification of type 2 diabetes loci in 433,...",Type 2 diabetes,type II diabetes mellitus,"77,418 East Asian cases, 356,122 East Asian co...",NaN,NaN,34214670,7.000000e-17
4,32581359,FLT3 stop mutation increases FLT3 ligand level...,Autoimmune thyroid disease,autoimmune thyroid disease,"30,234 European ancestry cases, 724,172 Europe...",NaN,NaN,32605189,1.000000e-196
5,22493691,Novel associations for hypothyroidism include ...,Hypothyroidism,hypothyroidism,"3,736 European ancestry cases, 35,546 European...",NaN,NaN,31018407,1.000000e-08
6,25936594,Genome wide identification of new genes and pa...,Type 1 diabetes and autoimmune thyroid diseases,"autoimmune thyroid disease, type I diabetes me...","346 European ancestry cases, 727 European ance...","185 European ancestry cases, 340 European ance...",NaN,31364707,1.000000e-22
7,32581359,FLT3 stop mutation increases FLT3 ligand level...,Autoimmune thyroid disease,autoimmune thyroid disease,"30,234 European ancestry cases, 724,172 Europe...",NaN,NaN,32605189,1.000000e-196
8,32609285,Shared Genetic and Experimental Links between ...,Body mass index,body mass index,"457,822 European ancestry individuals",NaN,NaN,32433759,7.000000e-10
9,31669095,Shared Genetic and Experimental Links between ...,Body mass index,body mass index,"457,822 European ancestry individuals",NaN,NaN,28697964,3.000000e-12
10,29691431,Biological Insights Into Muscular Strength: Ge...,Hand grip strength,grip strength measurement,"223,215 British ancestry individuals","111,610 British ancestry individuals",NaN,31591918,7.000000e-12
11,20881960,Hundreds of variants clustered in genomic loci...,Height,body height,"133,653 European ancestry individuals","50,074 European ancestry individuals",NaN,34199092,8.000000e-28
12,20881960,Hundreds of variants clustered in genomic loci...,Height,body height,"133,653 European ancestry individuals","50,074 European ancestry individuals",NaN,29084232,2.000000e-17
13,20881960,Hundreds of variants clustered in genomic loci...,Height,body height,"133,653 European ancestry individuals","50,074 European ancestry individuals",NaN,31380529,8.000000e-29
14,20881960,Hundreds of variants clustered in genomic loci...,Height,body height,"133,653 European ancestry individuals","50,074 European ancestry individuals",NaN,35402805,2.000000e-12
15,20881960,Hundreds of variants clustered in genomic loci...,Height,body height,"133,653 European ancestry individuals","50,074 European ancestry individuals",NaN,29084232,2.000000e-17
16,25673412,New genetic loci link adipose and insulin biol...,Hip circumference,hip circumference,"up to 56,910 European ancestry men, up to 86,5...","up to 36,570 European ancestry men, 30,172 Eur...",NaN,34236429,3.000000e-08
17,31453325,Genotype-by-environment interactions inferred ...,Hip circumference,hip circumference,"346,781 European ancestry individuals",NaN,NaN,32176782,3.000000e-24
18,31097437,Association between birth weight and refractiv...,Birth weight,birth weight,"188,039 European ancestry individuals",NaN,NaN,34199092,7.000000e-12
19,31043758,Maternal and fetal genetic effects on birth we...,Birth weight,birth weight,"298,142 European ancestry individuals, 6,635 A...",NR,NaN,31269173,3.000000e-11
20,30578418,Trans-ethnic association study of blood pressu...,Diastolic blood pressure,diastolic blood pressure,"365,998 European ancestry individuals, 63,490 ...","299,024 European ancestry individuals, 17,277 ...",NaN,32310863,2.000000e-17
21,28739976,Novel Blood Pressure Locus and Gene Discovery ...,Systolic blood pressure,systolic blood pressure,"150,134 European ancestry individuals","87,359 European ancestry individuals, 140,886 ...",NaN,32050067,1.000000e-17
22,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Hematocrit,hematocrit,"142,940 East Asian ancestry individuals",NaN,NaN,32637413,1.000000e-14
23,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Hematocrit,hematocrit,"142,940 East Asian ancestry individuals",NaN,NaN,31338093,2.000000e-10
24,27863252,The Allelic Landscape of Human Blood Cell Trai...,Hematocrit,hematocrit,"173,039 European ancestry individuals",NaN,NaN,29916885,1.000000e-15
25,32327693,Predicted loss and gain of function mutations ...,Hemoglobin levels,hemoglobin measurement,"684,122 European ancestry individuals",NaN,NaN,32064726,7.000000e-35
26,27863252,The Allelic Landscape of Human Blood Cell Trai...,Mean corpuscular hemoglobin,mean corpuscular hemoglobin,"172,332 European ancestry individuals",NaN,NaN,31326166,6.000000e-26
27,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Mean corpuscular volume,mean corpuscular volume,"121,047 East Asian ancestry individuals",NaN,NaN,31237776,5.000000e-17
28,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Mean corpuscular volume,mean corpuscular volume,"121,047 East Asian ancestry individuals",NaN,NaN,31237776,5.000000e-17
29,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Platelet count,platelet count,"145,648 East Asian ancestry individuals",NaN,NaN,33546498,2.000000e-53
30,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Platelet count,platelet count,"145,648 East Asian ancestry individuals",NaN,NaN,33546498,2.000000e-53
31,29403010,Genetic analysis of quantitative traits in the...,Platelet count,platelet count,"108,208 Japanese ancestry individuals",NaN,NaN,31102305,1.000000e-10
32,22139419,New gene functions in megakaryopoiesis and pla...,Platelet count,platelet count,"38,891 European ancestry individuals, 1,661 Va...","Up to 16,949 European ancestry individuals, 85...",NaN,32975014,1.000000e-10
33,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Platelet count,platelet count,"145,648 East Asian ancestry individuals",NaN,NaN,29594265,4.000000e-11
34,29403010,Genetic analysis of quantitative traits in the...,Platelet count,platelet count,"108,208 Japanese ancestry individuals",NaN,NaN,31102305,1.000000e-10
35,32888493,Trans-ethnic and Ancestry-Specific Blood-Cell ...,Red blood cell count,red blood cell density measurement,"727,624 African American or Afro-Caribbean, Af...",NaN,NaN,31312538,5.000000e-92
36,27863252,The Allelic Landscape of Human Blood Cell Trai...,Red blood cell count,erythrocyte count,"172,952 European ancestry individuals",NaN,NaN,34177853,7.000000e-10
37,27863252,The Allelic Landscape of Human Blood Cell Trai...,Red blood cell count,erythrocyte count,"172,952 European ancestry individuals",NaN,NaN,32606756,6.000000e-30
38,27863252,The Allelic Landscape of Human Blood Cell Trai...,Red blood cell count,erythrocyte count,"172,952 European ancestry individuals",NaN,NaN,29878548,2.000000e-16
39,29403010,Genetic analysis of quantitative traits in the...,White blood cell count,leukocyte count,"107,964 Japanese ancestry individuals",NaN,NaN,31246823,1.000000e-24
40,29403010,Genetic analysis of quantitative traits in the...,White blood cell count,leukocyte count,"107,964 Japanese ancestry individuals",NaN,NaN,32184024,6.000000e-10
41,29403010,Genetic analysis of quantitative traits in the...,White blood cell count,leukocyte count,"107,964 Japanese ancestry individuals",NaN,NaN,31246823,1.000000e-24
42,29403010,Genetic analysis of quantitative traits in the...,Creatinine levels,creatinine measurement,"142,097 Japanese ancestry individuals",NaN,NaN,31099239,2.000000e-08
43,29403010,Genetic analysis of quantitative traits in the...,Creatinine levels,creatinine measurement,"142,097 Japanese ancestry individuals",NaN,NaN,31099239,2.000000e-08
44,29403010,Genetic analysis of quantitative traits in the...,Alanine transaminase levels,serum alanine aminotransferase measurement,"134,182 Japanese ancestry individuals",NaN,NaN,33860843,3.000000e-08
45,29403010,Genetic analysis of quantitative traits in the...,Aspartate aminotransferase levels,aspartate aminotransferase measurement,"134,154 Japanese ancestry individuals",NaN,NaN,32191339,3.000000e-16
46,29403010,Genetic analysis of quantitative traits in the...,High density lipoprotein cholesterol levels,high density lipoprotein cholesterol measurement,"70,657 Japanese ancestry individuals",NaN,NaN,32560883,8.000000e-11
47,29403010,Genetic analysis of quantitative traits in the...,High density lipoprotein cholesterol levels,high density lipoprotein cholesterol measurement,"70,657 Japanese ancestry individuals",NaN,NaN,32560883,8.000000e-11
48,30275531,"Genetics of blood lipids among ~300,000 multi-...",HDL cholesterol,high density lipoprotein cholesterol measurement,"215,551 European ancestry individuals, 57,332 ...","Up to 319,677 individuals",NaN,34668635,4.000000e-21
49,30275531,"Genetics of blood lipids among ~300,000 multi-...",Total cholesterol levels,total cholesterol measurement,"215,551 European ancestry individuals, 57,332 ...","Up to 319,677 individuals",NaN,32590735,2.000000e-39
50,32203549,Evaluating the relationship between circulatin...,Triglyceride levels,triglyceride measurement,"441,016 European ancestry individuals",NaN,NaN,32587213,4.000000e-76
51,32154731,Polygenic Hyperlipidemias and Coronary Artery ...,Triglyceride levels,triglyceride measurement,"324,694 British ancestry individuals",NaN,NaN,34192036,1.000000e-12
52,29403010,Genetic analysis of quantitative traits in the...,Serum albumin level,serum albumin measurement,"102,223 Japanese ancestry individuals",NaN,NaN,31313148,1.000000e-08
53,29403010,Genetic analysis of quantitative traits in the...,Serum albumin level,serum albumin measurement,"102,223 Japanese ancestry individuals",NaN,NaN,31313148,1.000000e-08
54,31900758,Using Mendelian randomization to evaluate the ...,C-reactive protein levels,C-reactive protein measurement,"418,642 British ancestry individuals",NaN,NaN,31325341,1.000000e-35
55,29875488,Genomic atlas of the human plasma proteome.,Blood protein levels,blood protein measurement,"3,301 European ancestry individuals",NaN,NaN,32460798,4.000000e-17

In [11]:
catalog

,Unnamed: 0,Allele,CHR_POS,CNV,CONTEXT,Category,DISEASE/TRAIT,DOWNSTREAM_GENE_DISTANCE,DOWNSTREAM_GENE_ID,INITIAL SAMPLE SIZE,...,REPORTED GENE(S),SNPS,SNP_GENE_IDS,SNP_ID_CURRENT,STUDY,UPSTREAM_GENE_DISTANCE,UPSTREAM_GENE_ID,GENE_CUSTOM,REPORTED_GENE_CUSTOM,GENE_CUSTOM_REPORTED_GENE_CUSTOM
0,46,NaN,32667910,N,intergenic_variant,NaN,type 1 diabetes,5991.0,ENSG00000237145,"467 European ancestry trios, 561 European ance...",...,HLA-DRB1,rs2647044,NaN,2647044.0,A genome-wide association study identifies KIA...,31750.0,ENSG00000231286,"HLA-DQB1,HLA-DQA2",HLA-DRB1,['HLA-DQA2' 'HLA-DQB1' 'HLA-DRB1']
1,143,NaN,32432835,N,intron_variant,NaN,ulcerative colitis,NaN,NaN,"1,043 European ancestry cases, 1,703 European ...",...,HLA-DRA,rs9268923,"ENSG00000228260, ENSG00000227526, ENSG00000196...",9268923.0,Genome-wide association study for ulcerative c...,NaN,NaN,"HLA-DRA,HLA-DRB5",HLA-DRA,['HLA-DRA' 'HLA-DRB5']
2,284,NaN,32663851,N,intergenic_variant,NaN,rheumatoid arthritis,10050.0,ENSG00000237145,"400 European ancestry cases, 400 European ance...",...,"HLA-DQA2, HLA-DQA1",rs6457617,NaN,6457617.0,Genome-wide association study of rheumatoid ar...,27691.0,ENSG00000231286,"HLA-DQB1,HLA-DQA2","HLA-DQA2,HLA-DQA1",['HLA-DQA1' 'HLA-DQA2' 'HLA-DQB1']
3,309,NaN,31620520,N,intron_variant,NaN,lung cancer,NaN,NaN,"1,952 European ancestry cases, 1,438 European ...",...,BAT3,rs3117582,"ENSG00000227567, ENSG00000226215, ENSG00000204...",3117582.0,Deciphering the impact of common genetic varia...,NaN,NaN,APOM,NaN,['APOM']
4,339,NaN,32605884,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,HLA-DQA1,rs2187668,"ENSG00000236418, ENSG00000228284, ENSG00000225...",2187668.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,HLA-DQA1,HLA-DQA1,['HLA-DQA1']
5,340,NaN,31312326,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs3134792,"ENSG00000228964, ENSG00000223532, ENSG00000234...",3134792.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,"HLA-C,HLA-B",NaN,['HLA-B' 'HLA-C']
6,341,NaN,32261252,N,missense_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,c6orf10,rs7775397,"ENSG00000225914, ENSG00000234280, ENSG00000232...",7775397.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,C6orf10,NaN,['C6orf10']
7,342,NaN,31940897,N,non_coding_transcript_exon_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs389884,"ENSG00000234947, ENSG00000226257, ENSG00000204...",389884.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,STK19,NaN,['STK19']
8,343,NaN,31129310,N,missense_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,TCF19,rs7750641,"ENSG00000224941, ENSG00000224379, ENSG00000206...",7750641.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,TCF19,TCF19,['TCF19']
9,344,NaN,31058340,N,intergenic_variant,NaN,idiopathic membranous nephropathy,20660.0,ENSG00000229432,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs3130544,NaN,3130544.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,7454.0,ENSG00000222895,"MUC22,C6orf15",NaN,['C6orf15' 'MUC22']
10,345,NaN,31601843,N,non_coding_transcript_exon_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,BAT2,rs3115663,"ENSG00000231825, ENSG00000204469, ENSG00000231...",3115663.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,PRRC2A,NaN,['PRRC2A']
11,346,NaN,31603770,N,synonymous_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,BAT2,rs9267522,"ENSG00000231825, ENSG00000204469, ENSG00000231...",11229.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,PRRC2A,NaN,['PRRC2A']
12,347,NaN,31632134,N,missense_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,BAT4,rs3130618,"ENSG00000206408, ENSG00000204438, ENSG00000228...",3130618.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,GPANK1,NaN,['GPANK1']
13,348,NaN,32363215,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,BTNL2,rs1980493,"ENSG00000226127, ENSG00000204290, ENSG00000225...",1980493.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,BTNL2,BTNL2,['BTNL2']
14,349,NaN,31081205,N,intergenic_variant,NaN,idiopathic membranous nephropathy,1322.0,ENSG00000235487,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs2233956,NaN,2233956.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,853.0,ENSG00000229432,"C6orf15,PSORS1C1",NaN,['C6orf15' 'PSORS1C1']
15,350,NaN,31851234,N,non_coding_transcript_exon_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,EHMT2,rs652888,"ENSG00000236759, ENSG00000206376, ENSG00000232...",652888.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,EHMT2,EHMT2,['EHMT2']
16,351,NaN,31101674,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,PSORS1C1,rs3130564,"ENSG00000231094, ENSG00000233439, ENSG00000206...",3130564.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,PSORS1C1,PSORS1C1,['PSORS1C1']
17,352,NaN,32134510,N,missense_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,EGFL8,rs3096697,"ENSG00000241404, ENSG00000239974, ENSG00000242...",3096697.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,EGFL8,EGFL8,['EGFL8']
18,353,NaN,32146492,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,RNF5,rs3134945,"ENSG00000228405, ENSG00000228907, ENSG00000183...",3134945.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,RNF5,RNF5,['RNF5']
19,354,NaN,32336766,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,c6orf10,rs3129939,"ENSG00000234280, ENSG00000232106, ENSG00000206...",3129939.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,C6orf10,NaN,['C6orf10']
20,355,NaN,30920124,N,missense_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,DPCR1,rs3132580,"ENSG00000196260, ENSG00000168631, ENSG00000233529",3132580.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,DPCR1,DPCR1,['DPCR1']
21,356,NaN,32109979,N,intergenic_variant,NaN,idiopathic membranous nephropathy,6157.0,ENSG00000227122,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs204999,NaN,204999.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,11914.0,ENSG00000230907,"FKBPL,PRRT1",NaN,['FKBPL' 'PRRT1']
22,357,NaN,32913246,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs1480380,ENSG00000248993,1480380.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,XXbac-BPG181M17.5,NaN,['XXbac-BPG181M17.5']
23,358,NaN,31140047,N,intron_variant,NaN,idiopathic membranous nephropathy,NaN,NaN,"556 European ancestry cases, 2,338 European an...",...,intergenic,rs1265159,"ENSG00000204531, ENSG00000233911, ENSG00000229...",1265159.0,Risk HLA-DQA1 and PLA(2)R1 alleles in idiopath...,NaN,NaN,POU5F1,NaN,['POU5F1']
24,361,NaN,32578082,N,intergenic_variant,NaN,chronic lymphocytic leukemia,17874.0,ENSG00000196735,"407 European ancestry cases, 296 European ance...",...,HLA-DRB5,rs674313,NaN,674313.0,Genome-wide association study identifies a nov...,20457.0,ENSG00000206240,"HLA-DRB1,HLA-DQA1",HLA-DRB5,['HLA-DQA1' 'HLA-DRB1' 'HLA-DRB5']
25,379,NaN,34165721,N,TF_binding_site_variant,NaN,height,21495.0,ENSG00000214810,"19,633 Japanese ancestry individuals",...,HMGA1,rs7742369,NaN,7742369.0,A genome-wide association study in 19 633 Japa...,6865.0,ENSG00000271231,"GRM4,HMGA1",HMGA1,['GRM4' 'HMGA1']
26,464,NaN,32079567,N,non_coding_transcript_exon_variant,NaN,ulcerative colitis,NaN,NaN,324 European ancestry medically refractory ulc...,...,MHC,rs17207986,"ENSG00000284829, ENSG00000286974, ENSG00000168...",17207986.0,Genetic predictors of medically refractory ulc...,NaN,NaN,"TNXB,ATF6B",NaN,['ATF6B' 'TNXB']
27,515,NaN,31431780,N,non_coding_transcript_exon_variant,NaN,psoriasis,NaN,NaN,"218 European ancestry cases, 519 European ance...",...,HLA-C,rs2395029,"ENSG00000237105, ENSG00000206337, ENSG00000230389",2395029.0,A genome-wide association study of psoriasis a...,NaN,NaN,"MICA,MICB",HLA-C,['HLA-C' 'MICA' 'MICB']
28,516,NaN,31274555,N,intron_variant,NaN,psoriasis,NaN,NaN,"218 European ancestry cases, 519 European ance...",...,HLA-C,rs10484554,"ENSG00000228964, ENSG00000223532, ENSG00000234...",10484554.0,A genome-wide association study of psoriasis a...,NaN,NaN,"HLA-C,HLA-B",HLA-C,['HLA-B' 'HLA-C']
29,570,NaN,32050067,N,missense_variant,NaN,height,NaN,NaN,"30,968 European ancestry individuals",...,HLA class III,rs185819,"ENSG00000168477, ENSG00000206258, ENSG00000229...",185819.0,Many sequence variants affecting diversity of ...,NaN,NaN,TNXB,NaN,['TNXB']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,71,NaN,32552086,NaN,NaN,continuous,creatine kinase,NaN,NaN,NaN,...,HLA-DRB1,HLA-DR1 position 71,NaN,NaN,NaN,NaN,NaN,HLA-DRB1,HLA-DRB1,['HLA-DRB1']
3329,72,-,32631702,NaN,NaN,continuous,lactate dehydrogenase,NaN,NaN,NaN,...,HLA-DQB1,HLA-DQ1 position -4,NaN,NaN,NaN,NaN,NaN,HLA-DQB1,HLA-DQB1,['HLA-DQB1']
3330,73,A/G,31241639,NaN,NaN,continuous,white blood cell count,NaN,NaN,NaN,...,HLA-C,rs2524084,NaN,NaN,NaN,NaN,NaN,"HLA-C,HLA-B",HLA-C,['HLA-B' 'HLA-C']
3331,74,-,33049341,NaN,NaN,continuous,white blood cell count,NaN,NaN,NaN,...,HLA-DPB1,HLA-DP1 position 55,NaN,NaN,NaN,NaN,NaN,HLA-DPB1,HLA-DPB1,['HLA-DPB1']
3332,75,A/G,34236430,NaN,NaN,continuous,white blood cell count,NaN,NaN,NaN,...,HMGA1,rs9469762,NaN,NaN,NaN,NaN,NaN,"C6orf1,NUDT3",HMGA1,['C6orf1' 'HMGA1' 'NUDT3']
3333,76,-,32552086,NaN,NaN,continuous,white blood cell count,NaN,NaN,NaN,...,HLA-DRB1,HLA-DR1 position 70,NaN,NaN,NaN,NaN,NaN,HLA-DRB1,HLA-DRB1,['HLA-DRB1']
3334,77,T/A,31247203,NaN,NaN,continuous,neutrophil count,NaN,NaN,NaN,...,HLA-C,rs2853946,NaN,NaN,NaN,NaN,NaN,"HLA-C,HLA-B",HLA-C,['HLA-B' 'HLA-C']
3335,78,G/T,33048600,NaN,NaN,continuous,neutrophil count,NaN,NaN,NaN,...,HLA-DPB1,rs9277351,NaN,NaN,NaN,NaN,NaN,HLA-DPB1,HLA-DPB1,['HLA-DPB1']
3336,79,-,31323307,NaN,NaN,continuous,eosinophil count,NaN,NaN,NaN,...,HLA-B,HLA-B position 116,NaN,NaN,NaN,NaN,NaN,HLA-B,HLA-B,['HLA-B']
3337,80,-,31238217,NaN,NaN,continuous,eosinophil count,NaN,NaN,NaN,...,HLA-C,HLA-C position 99,NaN,NaN,NaN,NaN,NaN,HLA-C,HLA-C,['HLA-C']
3338,81,G/C,33048937,NaN,NaN,continuous,eosinophil count,NaN,NaN,NaN,...,HLA-DPB1,rs7770501,NaN,NaN,NaN,NaN,NaN,HLA-DPB1,HLA-DPB1,['HLA-DPB1']
3339,82,-,32552086,NaN,NaN,continuous,eosinophil count,NaN,NaN,NaN,...,HLA-DRB1,HLA-DR1 70Arg,NaN,NaN,NaN,NaN,NaN,HLA-DRB1,HLA-DRB1,['HLA-DRB1']
3340,83,-,31238217,NaN,NaN,continuous,basophil count,NaN,NaN,NaN,...,HLA-C,HLA-C 116Tyr,NaN,NaN,NaN,NaN,NaN,HLA-C,HLA-C,['HLA-C']
3341,84,A/G,31241639,NaN,NaN,continuous,monocyte count,NaN,NaN,NaN,...,HLA-C,rs2524084,NaN,NaN,NaN,NaN,NaN,"HLA-C,HLA-B",HLA-C,['HLA-B' 'HLA-C']
3342,85,G/A,31461711,NaN,NaN,continuous,monocyte count,NaN,NaN,NaN,...,MICB,rs2395040,NaN,NaN,NaN,NaN,NaN,"MICA,MICB",MICB,['MICA' 'MICB']
3343,86,T/C,32583146,NaN,NaN,continuous,lymphocyte count,NaN,NaN,NaN,...,HLA-DRB1,rs4959105,NaN,NaN,NaN,NaN,NaN,"HLA-DRB1,HLA-DQA1",HLA-DRB1,['HLA-DQA1' 'HLA-DRB1']
3344,87,A/ACCTG HLA-B,31108690,NaN,NaN,continuous,lymphocyte count,NaN,NaN,NaN,...,HLA-B,6:31108690,NaN,NaN,NaN,NaN,NaN,"PSORS1C1,CCHCR1",HLA-B,['CCHCR1' 'HLA-B' 'PSORS1C1']
3345,88,T/C,30444357,NaN,NaN,continuous,red blood cell count,NaN,NaN,NaN,...,HLA-E,rs2844726,NaN,NaN,NaN,NaN,NaN,"RPP21,HLA-E",HLA-E,['HLA-E' 'RPP21']
3346,89,A/G,31088232,NaN,NaN,continuous,hemoglobin,NaN,NaN,NaN,...,CDSN,rs2302398,NaN,NaN,NaN,NaN,NaN,PSORS1C1,CDSN,['CDSN' 'PSORS1C1']
3347,90,A/G,31235746,NaN,NaN,continuous,mcv,NaN,NaN,NaN,...,HLA-C,rs9264579,NaN,NaN,NaN,NaN,NaN,"HCG27,HLA-C",HLA-C,['HCG27' 'HLA-C']
3348,91,G/C,26091179,NaN,NaN,continuous,mch,NaN,NaN,NaN,...,HFE,rs1799945,NaN,NaN,NaN,NaN,NaN,ZNF165,NaN,['ZNF165']
3349,92,TC/T,31235354,NaN,NaN,continuous,mch,NaN,NaN,NaN,...,HLA-C,6:31235354,NaN,NaN,NaN,NaN,NaN,"HCG27,HLA-C",HLA-C,['HCG27' 'HLA-C']
3350,93,G/C,26091179,NaN,NaN,continuous,mchc,NaN,NaN,NaN,...,HFE,rs1799945,NaN,NaN,NaN,NaN,NaN,ZNF165,NaN,['ZNF165']
3351,94,A/C,33548394,NaN,NaN,continuous,platelet count,NaN,NaN,NaN,...,BAK1,rs5745568,NaN,NaN,NaN,NaN,NaN,"BAK1,GGNBP1",BAK1,['BAK1' 'GGNBP1']
3352,95,T/C,33546837,NaN,NaN,continuous,platelet count,NaN,NaN,NaN,...,BAK1,rs210142,NaN,NaN,NaN,NaN,NaN,BAK1,BAK1,['BAK1']
3353,96,T/C,31188102,NaN,NaN,continuous,platelet count,NaN,NaN,NaN,...,HLA-C,rs149645945,NaN,NaN,NaN,NaN,NaN,"HCG27,HLA-C",HLA-C,['HCG27' 'HLA-C']
3354,97,C/T,32026107,NaN,NaN,continuous,platelet count,NaN,NaN,NaN,...,TNXB,rs1009382,NaN,NaN,NaN,NaN,NaN,TNXB,TNXB,['TNXB']
3355,98,A/G,25531368,NaN,NaN,continuous,platelet count,NaN,NaN,NaN,...,LRRC16A,rs214058,NaN,NaN,NaN,NaN,NaN,ZNF165,NaN,['ZNF165']
3356,99,G/A,31331257,NaN,NaN,continuous,systolic blood pressure,NaN,NaN,NaN,...,HLA-B,rs2523557,NaN,NaN,NaN,NaN,NaN,"HLA-B,MICA",HLA-B,['HLA-B' 'MICA']
3357,100,C/T,31326166,NaN,NaN,continuous,mean arterial pressure,NaN,NaN,NaN,...,HLA-B,rs4947311,NaN,NaN,NaN,NaN,NaN,"HLA-B,MICA",HLA-B,['HLA-B' 'MICA']

In [21]:
nih_check.merge(right=catalog,left_on=['P-VALUE','STUDY','POS'],right_on=['P-VALUE','STUDY','CHR_POS']).to_csv("temp.csv")

In [24]:
a=[31266117,
32626403,
32412435,
34214670,
32605189,
31018407,
31364707,
32605189,
32433759,
28697964,
31591918,
34199092,
29084232,
31380529,
35402805,
29084232,
34236429,
32176782,
34199092,
31269173,
32310863,
32050067,
32637413,
31338093,
29916885,
32064726,
31326166,
31237776,
31237776,
33546498,
33546498,
31102305,
32975014,
29594265,
31102305,
31312538,
34177853,
32606756,
29878548,
31246823,
32184024,
31246823,
31099239,
31099239,
33860843,
32191339,
32560883,
32560883,
34668635,
32590735,
32587213,
34192036,
31313148,
31313148,
31325341,
32460798]

In [32]:
b=[]
for i in a:
    try:
        b.append(catalog[catalog['CHR_POS']==i]['SNPS'].iloc[0])
    except:
        b.append('')

In [36]:
pd.DataFrame([a,b]).T

           0            1
0   31266117    rs2524095
1   32626403   rs34004019
2   32412435    rs3177928
3   34214670    rs4711389
4   32605189    rs9272426
5   31018407    rs2517532
6   31364707    rs2251396
7   32605189    rs9272426
8   32433759   rs35880697
9   28697964   rs16894234
10  31591918    rs2260051
11  34199092    rs2780226
12  29084232    rs3129109
13  31380529    rs2256183
14  35402805
15  29084232    rs3129109
16  34236429    rs9469761
17  32176782    rs3132947
18  34199092    rs2780226
19  31269173    rs9366778
20  32310863    rs2849018
21  32050067     rs185819
22  32637413
23  31338093
24  29916885    rs9260313
25  32064726    rs1150752
26  31326166    rs4947311
27  31237776
28  31237776
29  33546498
30  33546498
31  31102305  rs139332374
32  32975014     rs399604
33  29594265
34  31102305  rs139332374
35  31312538
36  34177853  rs185139895
37  32606756    rs9272535
38  29878548
39  31246823  rs114398276
40  32184024  rs147499485
41  31246823  rs114398276
42  31099239  rs143933372
43  31099239  rs143933372
44  33860843  rs185355701
45  32191339  rs115695709
46  32560883   rs28366301
47  32560883   rs28366301
48  34668635    rs9368830
49  32590735   rs35062987
50  32587213   rs28383314
51  34192036  rs114760566
52  31313148  rs114584519
53  31313148  rs114584519
54  31325341    rs9266230
55  32460798  rs113534515